mongodb-volume/WiredTiger
mongodb-volume/journal
mongodb-volume/diagnostic.data
mongodb-volume/*.wt
mongodb-volume/*.turtle
mongodb-volume/*.lock
mongodb-volume/*.bson
mongodb-volume/.dbshell
.vscode
.fleet
src/__pycache__/*.pyc
src/__pycache__/models.cpython-310.pyc
src/__pycache__/*.pyc
src/routes/__pycache__/*.pyc
*.pyc
geckodriver.log
*.log
src/__pycache__/app.cpython-310.pyc
