<li class="comment d-flex mt-1">
    <img class="rounded-circle me-3 mt-3" src="{{user_img_url}}" alt="avatar" width="40px" height="40px">

    <div class="comment-body card border-0 w-100">
        <div class="comment-user card-body">
            <a  href="{{user_profile_url}}"> {{user_name}} </a>
            <p class="card-text"> 
                {{comment_text}}
            </p>
        </div>
        
        <div class="comment-footer d-flex card-footer border-0 reply-options">
            {% if commentList|length >  0 %}
                <span class="comment-display d-flex me-2 ml-0 pl-0">
                    {% if commentList|length == 1 %}
                    <p> {{commentList|length }} {{lang.comments.comment}} </p>
                    {% else %}
                    <p> {{commentList|length }} {{lang.comments.comment}} </p>
                    {% endif %}
                </span>
            {% endif %}

            <span class="reply-toggle" id="reply-toggle-{{id_number}}"> {{lang.comments.reply}} </span>
        </div>

        
        <ul class="reply-section d-none" id="reply-section-{{id_number}}" data-opened="false">
            
            {% for comment in commentList %}
                {% with
                    id_number=comment.id,
                    user_name=comment.user_name, 
                    comment_text=comment.text,
                    user_img_url=comment.user_img_url,
                    user_profile_url=comment.user_profile_url,
                    commentList = comment.comments
                %}
                    {% include 'comment.html' %}
                {% endwith %}
            {% endfor %}

            <li class="user-reply my-2">
                <div class="d-flex">
                    <img class="rounded-circle me-3" src="{{profile_img_url}}" alt="avatar" width="40px" height="40px"/>
                    <textarea class="form-control w-100" rows="1" placeholder="Write your comment..."></textarea>
                </div>
                
                <div>
                    <a class="nav-link d-flex justify-content-end my-2" href="#!" data-bs-toggle="modal" data-bs-target="#feedActionPhoto">
                        <button type="button" class="btn btn-sm btn-outline-dark">{{lang.comments.reply}}</button>
                    </a>
                </div>
                
            </li>
        </ul>

    </div>
</li>