{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='style/post.css') }}">

<div class="container">
    <div class="row">
      <div class="col" style="visibility:hidden">
        First column
      </div>
      
      <div class="col-lg-6">        
        <div class="card mb-5">
            <div class="p-2 pb-0 mb-0">
                <div class="d-flex mb-1">
                    <!-- Avatar -->
                    <div class="avatar avatar-xs me-2 p-2">
                        <a href="#"> <img alt="32x32" class="rounded-circle alt" src={{session.user.perfil.img_url}} width="40px" height="40px"> </a>
                    </div>
                    <!-- Post input -->
                    <form class="w-100 mb-0" novalidate method="POST" >
                        {{ form.csrf_token }}

                        {{ form.content( class="form-control my-0  border-0",placeholder=lang.Publish.placeholder ) }}
                    
                        <div class="px-2 py-1 mt-1 ">
                            <ul class="nav nav-pills nav-stack small fw-normal " style="display:flex; align-items: center; flex-wrap: wrap;">
                                
                                <!-- privacy -->
                                <li alt="{{lang.Publish.privacy}}" class="nav-item" style="margin-left: auto;">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked>
                                            <label class="form-check-label d-none d-md-block" for="flexSwitchCheckDefault">{{lang.Publish.privacy}}</label>
                                            <label class="form-check-label d-lg-none d-xl-block d-xl-none d-md-none d-lg-block" for="flexSwitchCheckDefault">🔒</label>
                                        </div>
                                </li>
                                
                                <!-- post button -->
                                <li class="nav-item" style="margin-left:0.5rem;">
                                    {{ form.submit( class_="btn btn-outline-dark ml-1 py-1 p-2 mb-0", value=lang.Publish.post) }}
                                </li>
            
                            </ul>
                        </div>

                    </form>

                    

                </div>
            </div>
            
            
            
          </div>

          {% for post in postList %}
                {% with id_number=post.id, user_name=post.user_name, post_time=post.post_time,
                    text=post.text,
                    profile_url=post.profile_url,
                    owner_post_img_url=post.profile_img_url,
                    profile_img_url= session.user.perfil.img_url ,
                    img_url=post.img_url,
                    commentList=post.comments,
                    lan=language
                %}
                    {% include 'post.html' %}
                {% endwith %}
            {% endfor %}

      </div>
      <div class="col">
        <ul class="list-group mb-3 d-none d-md-block">
            
            {% for user in userList %}
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div class="d-flex flex-row">
                        <div class="p-2">
                            <img alt="32x32" class="rounded-circle"  src="{{user.img_url}}" width="40px" height="40px">
                        </div>
                        <div class="p-2">
                            <h6 class="my-0" style="display:inline"> <a href="/user/{{user.email}}" style="color: black; text-decoration: none;">  {{user.nombre}} </a></h6>
                            {% if user.conectado %}
                                <small class="text-success" style="display:block">{{lang.friends.online}}</small>
                            {% else %}
                                <small class="text-muted" style="display:block">{{lang.friends.offline}}</small>
                            {% endif %}
                        </div>
                    </div>

                </li>
            {% endfor %}

          </ul>
      </div>
    </div>
  </div>
    
  <script src="{{url_for('static', filename='js/comments.js')}}"></script>
{% endblock %}