<header class="p-2 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <!-- logo -->
            <a href="{{url_for('home.index')}}" class="d-flex me-lg-auto col-1 col-md-2 align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <i class="fa-solid fa-hippo fa-2xl"></i>
                <span class="h4 mx-2 fw-bold mb-0" style="font-family: 'Rubik', sans-serif;">HipMe Up!</span>
            </a>

            <!-- icons mobile -->
            <ul class="nav col-11 me-lg-auto mb-2 justify-content-end mb-md-0 mr-0 pr-0 d-sm-inline-flex d-md-none">
                <li>
                    <a href="{{url_for('home.notifications')}}" class="nav-link px-2 link-secondary">
                        <i class="fa-solid fa-xl fa-inbox"></i>
                    </a>
                </li>
                <li>
                    <a href="/chat" class="nav-link px-2 link-secondary">
                        <i class="fa-regular fa-xl fa-paper-plane"></i>
                    </a>
                </li>
                <li>
                    <div class="dropdown text-end" style="margin-left: 0.3rem;">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false" data-bs-auto-close="outside">
                            <img src="{{session.user.perfil.img_url}}" alt="Charles Plant" class="rounded-circle" width="40" height="40">
                        </a>
                        <ul class="dropdown-menu text-small">
                            <li><a class="dropdown-item" href="{{url_for('config_page')}}" >{{lang.navbar.settings}}</a></li>
                            <li><a class="dropdown-item"href="{{url_for('profileUser', email=session.user.email)}}">{{lang.navbar.profile}}</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="dropend">
                                <a class="dropdown-item dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{lang.navbar.language}}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="?lang=en">English</a></li>
                                    <li><a class="dropdown-item" href="?lang=es">Español</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('authentication.logout')}}">
                                    {{lang.navbar.sign_out}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--<li><a href="#" class="nav-link px-2 link-dark"> <i class="fa-regular fa-paper-plane"></i> </a></li>-->
                <!--    <li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>-->
                <!--    <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>-->
            </ul>

            <!-- search bar -->
            <link rel="stylesheet" href="{{ url_for('static', filename='style/search.css') }}">
            <div class="dropdown col-12 col-md-6 me-lg-auto mb-3 mb-lg-0">
                <form  data-bs-toggle="dropdown" aria-expanded="false" role="search">
                    <input type="search" class="form-control" placeholder="{{lang.navbar.searchbar}}..." aria-label="Search" id="searchbar-users">
                </form>
                <ul class="dropdown-menu col-12 " id="search-preview">
                    <li class="dropdown-item py-0 my-0">
                        {% with user_name='Daemon Gordon', profile_url=url_for('profileFriend'), profile_img_url='https://mdbootstrap.com/img/new/avatars/8.jpg'%}
                            {% include 'userSearch.html' %}
                        {% endwith %}
                    </li>
                    
                    <li> <hr class="dropdown-divider"> </li>                            
                    <li><a class="dropdown-item" href="{{url_for('home.search_users')}}"> {{lang.navbar.results}} </a></li>
                </ul>

            </div>

            <!-- icons desktop -->
            <ul class="nav col-md-3 me-lg-auto mb-2 justify-content-end mb-md-0 mr-0 pr-0 d-none d-md-inline-flex">
                <li class="tooltip-custom">
                    <a href="{{url_for('home.notifications')}}" class="nav-link px-2 link-secondary">
                        <i class="fa-solid fa-xl fa-inbox"></i>
                    </a>
                    <span class="tooltiptext"> {{lang.navbar.notifications}} </span>
                </li>
                <li class="tooltip-custom">
                    <a href="/chat" class="nav-link px-2 link-secondary">
                        <i class="fa-regular fa-xl fa-paper-plane"></i>
                    </a>
                    <span class="tooltiptext"> {{lang.navbar.chat}} </span>
                </li>
                <li>
                    <div class="dropdown text-end" style="margin-left: 0.3rem;">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false" data-bs-auto-close="outside">
                            <img src="{{session.user.perfil.img_url}}" alt="mdo" class="rounded-circle" width="40" height="40">
                        </a>
                        <ul class="dropdown-menu text-small">
                            <li><a class="dropdown-item" href="{{url_for('config_page')}}" >{{lang.navbar.settings}}</a></li>
                            <li><a class="dropdown-item"href="{{url_for('profileUser', email=session.user.email)}}">{{lang.navbar.profile}}</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="dropend">
                                <a class="dropdown-item dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{lang.navbar.language}}
                                    <i class="fa-solid fa-globe"></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="?lang=en">English</a></li>
                                    <li><a class="dropdown-item" href="?lang=es">Español</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="{{url_for('authentication.logout')}}">{{lang.navbar.sign_out}}</a></li>
                        </ul>
                    </div>
                </li>
                <!--<li><a href="#" class="nav-link px-2 link-dark"> <i class="fa-regular fa-paper-plane"></i> </a></li>-->
                <!--    <li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>-->
                <!--    <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>-->
            </ul>

        </div>
    </div>
</header>
<script src="{{url_for('static', filename='js/navbar.js')}}"></script>