{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/register.css') }}">

    <section class="vh-75">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0 justify-content-center">

                            <div class="col-md-6 col-lg-7 d-flex align-items-center ">
                                <div class="card-body p-4 p-lg-5 text-black">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fa-solid fa-hippo fa-2xl me-3"></i>
                                        <span class="h1 fw-bold mb-0" style="font-family: 'Rubik', sans-serif;">HipMe Up!</span>
                                    </div>

                                    <form method="POST" novalidate>
                                        {{ form.csrf_token }}

                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">{{lang.signUp}}</h5>

                                        <div class="container">
                                            <div class="picture-container">
                                                <div class="picture">
                                                    <img src="https://lh3.googleusercontent.com/LfmMVU71g-HKXTCP_QWlDOemmWg4Dn1rJjxeEsZKMNaQprgunDTtEuzmcwUBgupKQVTuP0vczT9bH32ywaF7h68mF-osUSBAeM6MxyhvJhG6HKZMTYjgEv3WkWCfLB7czfODidNQPdja99HMb4qhCY1uFS8X0OQOVGeuhdHy8ln7eyr-6MnkCcy64wl6S_S6ep9j7aJIIopZ9wxk7Iqm-gFjmBtg6KJVkBD0IA6BnS-XlIVpbqL5LYi62elCrbDgiaD6Oe8uluucbYeL1i9kgr4c1b_NBSNe6zFwj7vrju4Zdbax-GPHmiuirf2h86eKdRl7A5h8PXGrCDNIYMID-J7_KuHKqaM-I7W5yI00QDpG9x5q5xOQMgCy1bbu3St1paqt9KHrvNS_SCx-QJgBTOIWW6T0DHVlvV_9YF5UZpN7aV5a79xvN1Gdrc7spvSs82v6gta8AJHCgzNSWQw5QUR8EN_-cTPF6S-vifLa2KtRdRAV7q-CQvhMrbBCaEYY73bQcPZFd9XE7HIbHXwXYA=s200-no" class="picture-src" id="wizardPicturePreview" title="">
                                                    <input type="file" id="wizard-picture" class="">
                                                </div>
                                                <br>
                                                 <p>{{lang.choose_picture}}<p>
                                        
                                            </div>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example17">{{lang.email.label}}</label>
                                            {{ form.email( class="form-control", placeholder=lang.email.placeholder) }}

                                            {% if form.email.errors %}
                                            <p class="register-errors"> {{lang.email.error}} </p>
                                            {% endif %}
                                        </div>
                                       
                                        <!-- Password -->
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example27">{{lang.password.label}}</label>
                                            {{ form.password( class="form-control", type="password", placeholder=lang.password.placeholder) }}

                                            {% if form.password.errors %}
                                            <p class="register-errors"> {{lang.password.error}} </p>
                                            {% endif %}
                                        </div>

                                         <!-- Confirm Password -->
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example27">{{lang.confirm.label}}</label>
                                            {{ form.confirm( class="form-control", type="password", placeholder=lang.confirm.placeholder) }}

                                            {% if form.confirm.errors %}
                                            <ul class="register-errors">
                                                {% for error in form.confirm.errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                        </div>
                                        
                                        <!-- Name -->
                                        <div class="form-group">
                                            <label for="fullName">{{lang.name.label}}</label>
                                            {{ form.name( class="form-control", placeholder=lang.name.placeholder) }}
                                            {% if form.name.errors %}
                                            <p class="register-errors"> {{lang.name.error}} </p>
                                            {% endif %}
                                        </div>
                                        <br>

                                        <!-- Biography -->
                                        <div class="form-group">
                                            <label for="bio">{{lang.biography.label}}</label>
                                            {{ form.biography( class="form-control", placeholder=lang.biography.placeholder) }}
                                        </div>
                                        <br>
                                            
                                        <!-- Birthday -->
                                        <div class="form-group">
                                            <label for="birthday">{{lang.birthday}}</label>
                                            {{ form.birthday( class="form-control") }}
                                        </div>
                                        <br>

                                        <!-- Languages -->
                                        <div class="form-group">
                                            <label for="languages">{{lang.programmingLanguages.label}}</label>
                                            {{ form.languages( class="form-control", placeholder=lang.programmingLanguages.placeholder) }}
                                        </div>
                                        <br>

                                        <!-- Videogames -->
                                        <div class="form-group">
                                            <label for="videogames">{{lang.video_games.label}}</label>
                                            {{ form.videogames( class="form-control", placeholder=lang.video_games.placeholder) }}
                                        </div>
                                        <br>

                                        <!-- Music -->
                                        <div class="form-group">
                                            <label for="music">{{lang.music.label}}</label>
                                            {{ form.music( class="form-control", placeholder=lang.music.placeholder) }}
                                        </div>
                                        <br>

                                        <!-- Book -->
                                        <div class="form-group">
                                            <label for="book">{{lang.book.label}}</label>
                                            {{ form.book( class="form-control", placeholder=lang.book.placeholder) }}
                                        </div>
                                        <br>

                                        <!-- Color -->
                                        <div class="form-group">
                                            <label for="color">{{lang.color.label}}</label>
                                            {{ form.color( class="form-control", placeholder=lang.color.placeholder) }}
                                        </div>
                                        <br>

                                        <!-- Button -->
                                        <div class="pt-1 mb-4 d-flex justify-content-center">
                                            {{ form.submit(class="btn btn-dark btn-lg btn-block", value=lang.signin) }}
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{{url_for('static', filename='js/upload_profile_img.js')}}"></script>
{% endblock %}