#chat-component{
    background-color: #eee;
}

.contact-list > .active{
    background-color: #eee;
}

a, a:hover{
    text-emphasis: none;
    text-decoration: none;
}

img{
    object-fit: cover;
}

.messageList{
    height: 69vh;
    overflow-y: scroll;
    padding-right: 2vw;
}

#contact-list{
    height: 72vh;
    overflow-y: scroll;
}

#contact-list-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer{
    display: none;
}

h2{
    padding-top: 0.5rem;
}

.messageList{
    margin-top: 1rem;
}
