{% extends 'base.html' %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='style/chat.css') }}">


    <div class="container py-0" id="chat-component">

        <div class="row">

            <!-- friends -->
            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0" >

                <h2 class="font-weight-bold mb-3 text-center text-lg-start">Friends</h2>

                <!-- contact list -->
                <div class="card" >
                    <div class="card-body">
                        <ul class="list-unstyled mb-0" id="contact-list">
                            
                            {% with user_name='James Brown', state='Online',
                            new_messages=0, last_message='Let\'s do it', img_url='https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp'%}
                                {% include 'chat_components/contact.html' %}
                            {% endwith %}

                            {% with user_name='Charles Myers', state='Online',
                            new_messages=1, last_message='Hey!', img_url='https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-7.webp'%}
                                {% include 'chat_components/contact.html' %}
                            {% endwith %}

                            {% with user_name='John Doe', state='Online',
                            new_messages=2, last_message='Hello, Are you there?', img_url='https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-8.webp'%}
                                {% include 'chat_components/contact.html' %}
                            {% endwith %}

                            {% with user_name='Danny Smith', state='Offline',
                            new_messages=0, last_message='me: Ok!', img_url='https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-1.webp'%}
                                {% include 'chat_components/contact.html' %}
                            {% endwith %}

                            {% with user_name='Alex Steward', state='Online',
                            new_messages=1, last_message='yeah... Who is Kate??', img_url='https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-2.webp'%}
                                {% include 'chat_components/contact.html' %}
                            {% endwith %}

                            {% with user_name='Ashley Williams', state='Online',
                            new_messages=1, last_message='Did you tell her that!?', img_url='https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-3.webp'%}
                                {% include 'chat_components/contact.html' %}
                            {% endwith %}

                            {% with user_name='Kate Moss', state='Offline',
                            new_messages=0, last_message='Thanks 🥰', img_url='https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-4.webp'%}
                                {% include 'chat_components/contact.html' %}
                            {% endwith %}

                        </ul>

                    </div>
                </div>

            </div>
            
            <!-- current chat -->
            <div class="col-md-6 col-lg-7 col-xl-8 d-none" >

                <ul class="list-unstyled" id="chat-container" >
                    <!-- messages of the current chat -->

                    {% with user_name='Charles Plant', sent_by_me=True, message='Hey!', timestamp='12 minutes ago', img_url='https://besthqwallpapers.com/Uploads/11-4-2019/87207/corgi-puppy-pets-welsh-corgi-dogs.jpg'%}
                            {% include 'chat_components/message.html' %}
                    {% endwith %}

                    {% with user_name='James Brown', sent_by_me=False, message='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', timestamp='10 minutes ago', img_url='https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp'%}
                            {% include 'chat_components/message.html' %}
                    {% endwith %}

                    {% with user_name='Charles Myers', sent_by_me=True, message='Etiam in vehicula justo, nec vulputate nisi. Nulla quis sapien id dui tempus sagittis porttitor quis eros. Pellentesque bibendum mi nec ligula dapibus mattis. Integer libero eros, suscipit ut purus sed, fringilla auctor felis.', timestamp='8 minutes ago', img_url='https://besthqwallpapers.com/Uploads/11-4-2019/87207/corgi-puppy-pets-welsh-corgi-dogs.jpg'%}
                            {% include 'chat_components/message.html' %}
                    {% endwith %}

                    {% with user_name='James Brown', sent_by_me=False, message='Mauris tellus lacus, luctus quis mattis et, imperdiet a nunc.', timestamp='10 minutes ago', img_url='https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp'%}
                            {% include 'chat_components/message.html' %}
                    {% endwith %}

                    {% with user_name='Charles Plant', sent_by_me=True, message='Cras dui nisi, congue dignissim odio vel, lobortis lobortis turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.', timestamp='6 minutes ago', img_url='https://besthqwallpapers.com/Uploads/11-4-2019/87207/corgi-puppy-pets-welsh-corgi-dogs.jpg'%}
                            {% include 'chat_components/message.html' %}
                    {% endwith %}

                    {% with user_name='James Brown', sent_by_me=False, message='Let\'s do it', timestamp='5 minutes ago', img_url='https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp'%}
                            {% include 'chat_components/message.html' %}
                    {% endwith %}

                </ul>

                <!-- send message form -->
                <form class="row g-3 d-flex justify-content-center">
                    <div class="col-10">
                        <input type="text" class="form-control" id="inputPassword2" placeholder="Message...">
                    </div>
                    <div class="col-1">
                        <button class="btn btn-info mb-3">
                            <i class="fa-solid fa-paper-plane" style="color: white;"></i>
                        </button>
                    </div>
                </form>

            </div>

        </div>

    </div>

    <script src="{{url_for('static', filename='js/chat.js')}}"></script>
{% endblock %}