{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/post.css') }}">

<div class="container">
    <!-- Configuration Toggle -->
    <div class="invisible">
        <i class="fa-solid fa-gear fa-2xl"></i>
    </div>
    <div class="row gx-5">

        <!-- Profile Information -->
        <div class="col-lg-4">

            <div class="text-center">
                <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="mdo" width="256" height="256" class="rounded-circle mb-4">
                <h3> Daemon Gordon </h5> 
                <div alt="{{config.profile_info.bio}}">
                    <p> Explorer, adventurer, without fear of the unknown. </p>
                    <p> Python - JavaScript </p>
                </div>                
            </div>
            
            <hr>

            <table alt="{{config.profile_info.tab_name}}">
                <tr alt="{{config.profile_info.birthday}}">
                    <td><i class="fa-solid fa-gift"></i></td>
                    <td> 20/01/1990</td>
                </tr>
                <tr alt="{{config.profile_info.video_games}}">
                    <td><i class="fa-solid fa-gamepad"></i></td>
                    <td>Counter Strike</td>
                </tr>
                <tr alt="{{config.profile_info.music}}">
                    <td><i class="fa-solid fa-music"></i></td>
                    <td> Coldplay </td>
                </tr>

                  <tr alt="{{config.profile_info.book}}">
                    <td><i class="fa-solid fa-book"></i></td>
                    <td> To Kill a Mockingbird </td>
                  </tr>

                  <tr alt="{{config.profile_info.color}}">
                    <td><i class="fa-solid fa-star"></i></td>
                    <td> Green </td>
                  </tr>
            </table>

            <hr>

            <!-- Friend and Chat Request -->
            <div class="text-center mb-3 ">
                <span class="me-3" id="friend-request" data-follow="true">
                    <span id="follow" class="d-none">
                        <i class="fa-solid fa-user-plus mx-1"></i>Follow 
                    </span>
    
                    <span id="unfollow" class="d-inline">
                        <i class="fa-solid fa-user-check mx-1"></i>{{lang.unfollow}}
                    </span>
                </span>
               
                <span id="chat-request">
                    <i class="fa-regular fa-envelope mx-1"></i>{{lang.request}}
                </span>
            </div>
        </div>

        <!-- User Publications-->
        <ul class="col-lg-8">

            {% for post in postList %}
                {% with id_number=post.id, user_name=post.user_name, post_time=post.post_time,
                    text=post.text,
                    profile_url=post.profile_url,
                    owner_post_img_url=post.profile_img_url,
                    profile_img_url='https://github.com/mdo.png',
                    img_url=post.img_url,
                    commentList=post.comments,
                    lan=language
                %}
                    {% include 'post.html' %}
                {% endwith %}
            {% endfor %}

        </ul>
    </div>
</div>

<script src="{{url_for('static', filename='js/friend.js')}}"></script>
<script src="{{url_for('static', filename='js/comments.js')}}"></script>

{% endblock %}