{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='style/post.css') }}">

<div class="container">
    <div class="row">
      <div class="col" style="visibility:hidden">
        First column
      </div>
      <div class="col-lg-6">        
        <div class="card mb-5">
            <div class="p-2">
                <div class="d-flex mb-3">
                    <!-- Avatar -->
                    <div class="avatar avatar-xs me-2 p-2">
                        <a href="#"> <img alt="32x32" class="rounded-circle alt" src="https://github.com/mdo.png" width="40px" height="40px"> </a>
                    </div>
                    <!-- Post input -->
                    <form class="w-100 p-2"  >
                        <textarea class="form-control pe-4 border-0" rows="2" data-autoresize="" placeholder="{{lang.Publish.placeholder}}"></textarea>
                    </form>

                    

                </div>
            </div>
            
            <div class="p-2">
                <ul class="nav nav-pills nav-stack small fw-normal " style="display:flex; align-items: center; flex-wrap: wrap;">
                    
                    <li alt="bold text" class="nav-item" style="margin-left:1rem">
                        <a class="nav-link bg-light py-1 px-2 mb-0" href="#!" data-bs-toggle="modal" data-bs-target="#feedActionPhoto"><i class="fa-solid fa-bold text-dark"></i></a>
                    </li>
                    
                    <li alt="italic text" class="nav-item">
                        <a class="nav-link bg-light py-1 px-2 mb-0" href="#!" data-bs-toggle="modal" data-bs-target="#feedActionPhoto"><i class="fa-solid fa-italic text-dark"></i></a>
                    </li>

                    <li alt="underline text" class="nav-item">
                        <a class="nav-link bg-light py-1 p-2 mb-0" href="#!" data-bs-toggle="modal" data-bs-target="#feedActionPhoto"><i class="fa-solid fa-underline text-dark"></i></a>
                    </li>

                    <li alt="add photo" class="nav-item">
                        <a class="nav-link bg-light py-1 p-2 mb-0" href="#!" data-bs-toggle="modal" data-bs-target="#feedActionPhoto"> <i class="fa-regular fa-image text-dark"></i></a>
                    </li>
                   
                    <li alt="add emoji" class="nav-item">
                        <a class="nav-link bg-light py-1 p-2 mb-0" href="#!" data-bs-toggle="modal" data-bs-target="#feedActionPhoto"><i class="fa-regular fa-face-smile text-dark"></i></a>
                    </li>
                    

                    <li alt="{{lang.Publish.privacy}}" class="nav-item" style="margin-left: auto;">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked>
                                <label class="form-check-label d-none d-md-block" for="flexSwitchCheckDefault">{{lang.Publish.privacy}}</label>
                                <label class="form-check-label d-lg-none d-xl-block d-xl-none d-md-none d-lg-block" for="flexSwitchCheckDefault">🔒</label>
                            </div>
                    </li>
                    

                    <li alt="{{lang.Publish.post}}" class="nav-item" style="margin-left: 1rem;">
                    <li class="nav-item" style="margin-left:0.1rem;">
                        <a class="nav-link bg-light py-1 p-2 mb-0" href="#!" data-bs-toggle="modal" data-bs-target="#feedActionPhoto"><button type="button" class="btn btn-outline-dark">{{lang.Publish.post}}</button></a>
                    </li>
                    

   
                </ul>
            </div>
            
          </div>

          {% for post in postList %}
                {% with id_number=post.id, user_name=post.user_name, post_time=post.post_time,
                    text=post.text,
                    profile_url=post.profile_url,
                    owner_post_img_url=post.profile_img_url,
                    profile_img_url='https://github.com/mdo.png',
                    img_url=post.img_url,
                    commentList=post.comments,
                    lan=language
                %}
                    {% include 'post.html' %}
                {% endwith %}
            {% endfor %}

      </div>
      <div class="col">
        <ul class="list-group mb-3 d-none d-md-block">
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div class="d-flex flex-row">
                <div class="p-2">
                <img alt="32x32" class="rounded-circle"  src="https://mdbootstrap.com/img/new/avatars/8.jpg" width="40px" height="40px">
                </div>
                <div class="p-2">
                <h6 class="my-0" style="display:inline"> <a href="{{url_for('profileFriend')}}" style="color: black; text-decoration: none;">  Daemon Gordon </a></h6>
                <small class="text-success" style="display:block">{{lang.friends.online}}</small>
                </div>
              </div>

            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div class="d-flex flex-row">
                    <div class="p-2">
                    <img alt="32x32" class="rounded-circle"  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" width="40px" height="40px">
                    </div>
                    <div class="p-2" >
                    <h6 class="my-0" style="display:inline">Angelica Smith</h6>

                    <small class="text-success" style="display:block">{{lang.friends.online}}</small>
                    
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div class="d-flex flex-row">
                    <div class="p-2">
                    <img alt="32x32" class="rounded-circle"  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-3.webp" width="40px" height="40px">
                    </div>
                    <div class="p-2">
                    <h6 class="my-0" style="display:inline">Andrea Cramps</h6>
                    <small class="text-muted" style="display:block">{{lang.friends.offline}}</small>
                    </div>
                </div>
            </li>

          </ul>
      </div>
    </div>
  </div>
    
  <script src="{{url_for('static', filename='js/comments.js')}}"></script>
{% endblock %}