<li class="post card mb-5">
    <div class="card-header">
        <div class="d-flex mt-2 mb-2">
            <img alt="{{user_name}}" class="rounded-circle" src="{{owner_post_img_url}}" width="40px" height="40px">
            <div class="container ml-3 small">
                    <strong class="d-block">  
                        <a href="{{profile_url}}"> {{user_name}} </a>
                    </strong>
                    
                    <!--Spanish-->
                    {% if lan=="es" %}    
                        {{lang.Post.timestamp}}               
                        {{post_time}}  
                        {{lang.Post.days}}
                    {% endif %}

                    <!--English-->
                    {% if lan=="en" %}      
                        {{post_time}}  
                        {{lang.Post.days}}
                        {{lang.Post.timestamp}}    
                    {% endif %}
            </div>
        </div>
    </div>
   
    <div class="card-body">
        <p class="card-text"> {{text}}</p>
    </div>
    
    {% if img_url %}
    <div>
        <img src="{{img_url}}" class="card-img-top" alt="{{text}}">
    </div>
    {% endif %}

    {% if commentList|length >  0 %}
    <div class="d-flex justify-content-end me-2 mt-2" style="color: gray; font-size: 14px;">
        {% if commentList|length == 1 %}
        <p> {{commentList|length }} comment </p>
        {% else %}
        <p> {{commentList|length }} comments </p>
        {% endif %}
    </div>
    {% endif %}

    <div class="card-footer">
        
        <div class="text-muted comment-toggle" id="comment-toggle-{{id_number}}">
            <span class="comment-span">
                <i class="fa-regular fa-comment mx-2"></i> {{lang.Post.comments}}
            </span>
        </div>
        
        <div class="user-new-comment d-none" id="user-new-comment-{{id_number}}">
            <hr>
            <div class="d-flex my-2">
                <img class="rounded-circle me-3" src="{{profile_img_url}}" alt="avatar" width="40px" height="40px"/>
                <textarea class="form-control w-100" rows="1" placeholder="{{lang.comments.placeholder}}"></textarea>
            </div>
            <a class="nav-link d-flex justify-content-end my-2" href="#!" data-bs-toggle="modal" data-bs-target="#feedActionPhoto">
                <button type="button" class="btn btn-sm btn-outline-dark">Reply</button>
            </a>
        </div>

        <ul class="comment-section d-none" id="comment-section-{{id_number}}" data-opened="false"> 
            {% for comment in commentList %}
                {% with id_number=comment.id, 
                    user_name=comment.user_name, 
                    comment_text=comment.text,
                    user_img_url=comment.user_img_url,
                    user_profile_url=comment.user_profile_url,
                    commentList = comment.comments
                %}
                    {% include 'comment.html' %}
                {% endwith %}
            {% endfor %}
        </ul>
        
    </div>
</li>