<div class="card mb-5">
    <div class="card-header">
        <div class="d-flex mt-2 mb-2">
            <img alt="32x32" class="rounded-circle" src="{{profile_img_url}}" width="40px" height="40px">
            <div class="container ml-3 small">
                    <strong class="d-block">  
                        <a href="{{profile_url}}"> {{user_name}} </a>
                    </strong>
                    {{post_time}}
            </div>
        </div>
    </div>
    <div class="{{img_display}}">
        <img src="{{img_url}}" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
        <p class="card-text"> {{text}}</p>
    </div>
    <div class="card-footer text-muted text-center" >
        <i class="fa-regular fa-comment"></i> {{comments_field}}
    </div>
</div>