{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/post.css') }}">

 <!-- User Profile -->

<div class="container">
    <!-- Configuration Toggle -->
    <div class="invisible">
        <i class="fa-solid fa-gear fa-2xl"></i>
    </div>

    <div class="row gx-5">
        <!-- Profile Information -->
        <div class="col-lg-4">

            <div class="text-center">
                <img src="https://github.com/mdo.png" alt="mdo" width="256" height="256" class="rounded-circle mb-4">
                <h3> Charles Plant </h5>
                <div alt="{{config.profile_info.bio}}">
                    <p> Lover of dogs, even bigger lover of corgis. </p>
                    <p> C/C++ - Java - Python - JavaScript </p>
                </div>                
            </div>
            
            <hr>

            <table alt="{{config.profile_info.tab_name}}">
                <tr alt="{{config.profile_info.birthday}}">
                    <td><i class="fa-solid fa-gift"></i></td>
                    <td> 31/02/2000</td>
                </tr>
                <tr alt="{{config.profile_info.video_games}}">
                    <td><i class="fa-solid fa-gamepad"></i></td>
                    <td>MineSweeper, Counter Strike, Pokemon</td>
                </tr>
                <tr alt="{{config.profile_info.music}}">
                    <td><i class="fa-solid fa-music"></i></td>
                    <td>Barbra Streisand </td>
                </tr>

                  <tr alt="{{config.profile_info.book}}">
                    <td><i class="fa-solid fa-book"></i></td>
                    <td>The Bible</td>
                  </tr>

                  <tr alt="{{config.profile_info.color}}">
                    <td><i class="fa-solid fa-star"></i></td>
                    <td>Blue</td>
                  </tr>
            </table>

            <hr>

            <!-- Chat Request -->
            <div class="invisible">
                <i class="fa-regular fa-envelope mb-4"></i>  Send chat request
            </div>
        </div>

        <!-- User Publications -->
        <ul class="col-lg-8">

            {% for post in postList %}
                {% with id_number=post.id, user_name=post.user_name, post_time=post.post_time,
                    text=post.text,
                    profile_url=post.profile_url,
                    owner_post_img_url=post.profile_img_url,
                    profile_img_url='https://github.com/mdo.png',
                    img_url=post.img_url,
                    commentList=post.comments,
                    lan=language
                %}
                    {% include 'post.html' %}
                {% endwith %}
            {% endfor %}

        </ul>
    </div>
</div>

<script src="{{url_for('static', filename='js/comments.js')}}"></script>
{% endblock %}